// Color variables
$primary: rgb(48, 15, 203);
$primary-hover: rgb(0, 133, 255);
$secondary: rgb(110, 226, 223);
$secondary-hover: rgb(77, 158, 156);
$danger: rgb(252, 21, 21);
$danger-hover: rgb(252, 114, 114);
$danger-2: rgba(255, 105, 91, 0.16);
$danger-2-hover: rgba(255, 105, 91, 0.24);
$success: rgb(61, 204, 121);
$success-hover: rgb(119, 219, 161);
$success-2: rgba(61, 204, 121, 0.16);
$success-2-hover: rgba(61, 204, 121, 0.24);
$white: rgb(255, 255, 255);
$black: rgb(39, 39, 41);
$gray-1: rgba(118, 118, 118, 1);
$gray-2: rgb(186, 187, 194);
$gray-3: rgb(230, 230, 235);
$gray-4: rgb(240, 240, 245);

// Theme colors
$theme-colors: (
  "primary": $primary,
  "primary-hover": $primary-hover,
  "secondary": $secondary,
  "secondary-hover": $secondary-hover,
  "danger": $danger,
  "danger-hover": $danger-hover,
  "danger-2": $danger-2,
  "danger-2-hover": $danger-2-hover,
  "success": $success,
  "success-hover": $success-hover,
  "success-2": $success-2,
  "success-2-hover": $success-2-hover,
  "gray-1": $gray-1,
  "gray-2": $gray-2,
  "gray-3": $gray-3,
  "gray-4": $gray-4,
  "white": $white,
  "black": $black,
);
