@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-center($height) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $height;
}

@mixin font($fontFamily, $fontSize, $lineHeight, $color) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}
