@import "../variables";
@import "../mixins";

.landingAuth-container {
  @include flex-center(100vh);
  background-color: $primaryPage;
  .container {
    @include flex(column, space-around, center);
    height: 70vh;
  }

  .landingAuth-buttons {
    @include flex(row, space-between, center);
    background-color: $primaryPage;
    width: 80%;
    a {
      text-decoration: none;
      color: $secondPage;
      font-size: 0.93rem;
      &:hover {
        background-color: $secondPage;
        color: $infoPage;
      }
    }
  }
  .button {
    @include flex-center(80%);
    padding: 1.8rem 2.5rem;
    width: 45%;
    border: 1px solid;
    border-radius: 6.25rem;
    background-color: $infoPage;
  }

  h1 {
    @include font(Futura, 4.37rem, 5rem, $infoPage);
  }
  h3 {
    @include font(Futura, 4.37rem, 3rem, $infoPage);
  }
  p {
    @include font(Futura, 1.56rem, 2.18rem, $infoPage);
  }
}
